.header {
    &__logo-header{
        text-decoration: none;
        font-family: Raleway, cursive;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        color: $logo-color;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &__accent{
        color: $accent-color;  
    }
    @media screen and (max-width: 767px) {
    position: relative;
    }
    @media screen and (min-width: 768px) {
    border: 1px solid #ececec;
    }
    &__container{
    @media screen and (min-width: 768px) {
    display: flex;
    }
}
}
.site-nav {
    @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    }
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    }
}
.site-nav__button {
    display: none;
    @media screen and (max-width: 767px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 5;
    & .site-nav__icon-cross {
        display: none;
    }
    &.is-open .site-nav__icon-cross {
        position: fixed;
        display: block;
    }
    &.is-open .site-nav__icon-menu {
        display: none;
    }
    &:hover .site-nav__icon-menu,
    &:focus .site-nav__icon-menu,
    &:hover .site-nav__icon-cross,
    &:focus .site-nav__icon-cross{
        fill: $accent-color;
    }
    }
}
.menu {
    font-weight: 500;
    letter-spacing: 0.02em;
    z-index: 1;
    @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    transition: opacity 0.8s, visibility 0.8s;
    background-color: $white-color;
    padding: 48px 40px;
    font-size: 40px;
    line-height: 1.18;
    &.is-open {
        display: block;
    }
    }
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    }
}
.nav-box {
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 90px;
    }
}
.nav-box__item {
    @media screen and (max-width: 767px) {
    &:not(:last-child) {
        margin-bottom: 35px;
    }
    &:last-child {
        margin-bottom: 302px;
    }
    }
    @media screen and (min-width: 768px) {
    margin-left: auto;
    &:not(:last-child) {
        margin-right: 50px;
    }
    }
}
.nav-box__link {
    text-decoration: none;
    color: $primary-text-color;
    position: relative;
    transition: $transition;
    padding-bottom: 32px;
    &:hover,
    &:focus {
    color: $accent-color;
    }
    @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.14;
    }
}
.nav-box-link__active {
    color: $accent-color;
    @media screen and (min-width: 768px) {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 0 2px;
        background-color: $accent-color;
        transform: scale(1);
    }
    }
}
.contacts-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (max-width: 767px) {
        position: absolute;
        bottom: 48px;
        }
}
.contacts {
    @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    align-content: center;
    margin-left: auto;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 80px;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    flex-direction: row-reverse;
    justify-content: center;
    }
}
.contact-item {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
    &.tel {
        font-size: 34px;
        line-height: 1.18;
        color: $accent-color;
        margin-bottom: 32px;
    }
    }
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    &.tel {
        margin-top: 10px;
    }
    }
    @media screen and (min-width: 1200px) {
    &.mail {
        margin-right: 30px;
    }
    }
}
.contacts__item:last-child {
    @media screen and (min-width: 1200px) {
    margin-right: 30px;
    }
}
.contacts__link {
    font-size: 24px;
    line-height: 1.17;
    fill: $second-text-color;
    text-decoration: none;
    color: $second-text-color;
    transition: $transition;
    &:hover,
    &:focus {
    color: $accent-color;
    }
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 1.17;
    color: $second-text-color;
    font-size: 14px;
    line-height: 1.14;
    }
}
.contacts__icon {
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    fill: currentColor;
    margin-right: 10px;
    transition: $transition;
    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: $accent-color;
    }
    }
}
.social-link {
    display: none;
    font-size: 18px;
    line-height: 1.22;
    fill: $accent-color;
    color: $accent-color;
    margin-top: 64px;
    @media screen and (max-width: 767px) {
    display: flex;
    }
    &__item {
    padding-left: 10px;
    &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    }
}
    &__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.22;
    color: $accent-color;
}
}