.header{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;
    &__logo-header{
        text-decoration: none;
        font-family: Raleway, cursive;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        color: $logo-color;
    }
    &__accent{
        color: $accent-color;  
    }
    &__navigation,
    &__contact{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    &__contact{
        color: $second-text-color;
        &:hover,
        &:focus{
        color: $accent-color;
        }
    }
    &__navigation{
        color: $primary-text-color;
        &:hover,
        &:focus{
            color: $accent-color;
        }
    }
    &__current{
        position: relative;
        color: $accent-color;
    }
    &__current::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        background-color: $accent-color;
        left: 0;
        bottom: -1px;
    }
    &__container{
        // display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

    }
    // &__nav{
    //     display: flex;
    //     align-items: center;
    // }
    // &__nav-list{ 
    //     display: flex;
    //     align-items: center;
    //     margin-left: 93px;
    // }
    // &__cont{
    //     display: flex;
    //     align-items: center;
    //     margin-left: auto;
    // }
    &__nav .logo-header{
        display: block;
        padding-top: 24px;
        padding-bottom: 25px;  
    }
    .head-link{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: $transition;
    }
    .head-cont{
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: $transition;
    }
    &__nav-item,
    &__cont-item{
        margin-right: 50px;
    }
    .icon-mail{
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: currentColor;
    }
    .icon-tel{
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
    }
}
.button-menu {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

&.is-open {
    .button-menu__close {
    display: block;
    }
}
}

.button-menu__menu:focus {
fill: var(--focus-color);
}

.button-menu__close:focus {
fill: var(--focus-color);
}

.button-menu__menu,
.button-menu__close {
    fill: black;
    transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
}
.menu-container{
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    .menu-container {
    position: fixed;
    width: 101%;
    top: 0;
    left: 0;
    height: 100vh;
    justify-content: flex-start;
    background-color: white;
    display: none;
    pointer-events: none;

    &.is-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        z-index: 1;
        pointer-events: visible;
        }
        .main-nav__items {
        margin-left: 50px;
    }
    .main-nav {
        align-items: flex-start;
    }
    .contacts {
        margin-left: 50px;
        display: flex;
        flex-direction: column-reverse;
        .contacts__link {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        &.contacts__link--mail {
            font-family: Roboto;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #757575;
        }
        }

        .contacts__nav:last-child {
        margin-bottom: 32px;
        }
        .contacts__mail,
        .contacts__tel {
        display: none;
        }
        .contacts__img {
        display: none;
        }
    }
    }
}

.menu-social {
    display: flex;
    margin-bottom: 48px;
    .menu-social__icon:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
    .menu-social__icon {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--focus-color);
    letter-spacing: 0.02em;
    padding-left: 10px;
    padding-right: 10px;
    }
}
@media screen and (min-width: 768px) {
    .menu-social {
    display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
    position: static;
    display: flex;
    align-items: center;
    }
    .button-menu {
    display: none;
    }
}
.port::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    background-color: var(--focus-color);
    height: 4px;
    width: 100%;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}