.join{
    margin-left: 70px;
    margin-top: 12px;
    &__icon{
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
    }
    &__link{
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
            &:hover,
            &:focus{
        background-color: $accent-color;
    }
    }
    &__list{
        display: flex;
    }
    &__item{
        &:not(:last-child){
        margin-right: 10px;
    }}
    &__title{
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}